In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../Downloads/Salary_Data.csv")

In [3]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
x = df[["YearsExperience"]]
y = df["Salary"]

In [5]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [6]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [7]:
pipe = Pipeline([("scaler", StandardScaler()), ("Linear Regression", LinearRegression())])

In [ ]:
help(pipe)

In [ ]:
#Pipeline([("task name", obj ), ("task name", obj ])

In [8]:
pipe.fit(xtrain, ytrain)

Pipeline(steps=[('scaler', StandardScaler()),
                ('Linear Regression', LinearRegression())])

In [9]:
ypred = pipe.predict(xtest)
ypred

array([ 40748.96184072, 122699.62295594,  64961.65717022,  63099.14214487,
       115249.56285456, 107799.50275317])

In [10]:
pipe.score(xtest, ytest)

0.988169515729126